.aipepe__brand{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-radius: 1rem;
    border-color: var(--color-text);
}

.aipepe__brand p{
font-family: var(--font-family);
color: var(--color-text);
font-style: normal;
font-weight: 500;
font-size: 24px;
padding: 0rem 1rem;
}

.aipepe__brand img{
    height: 40px;
    border-radius: 10px;
}