.aipepe__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    z-index: 20;
    background-color: var(--color-1);
    top: 0;
    right: 0;
    left: 0;
}

.aipepe__navbar img {
    width: 234px;
    justify-content: flex-start;
    align-items: center;
}

.aipepe__navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 2rem;
}

.aipepe__navbar-links a{
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 400;
    padding: 0.5rem 1rem 0.5rem 1rem;
    

}

.aipepe__navbar-links a:hover{
    color: var(--color-1);
    transition: 0.5s ease-out;
    letter-spacing: 0.5px;
    background-color: var(--color-text);
    border-radius: 0.5rem;

}

.aipepe__navbar-button a{
    color: var(--color-1);
    background-color: var(--color-text);
    border-radius: 0.5rem;
}


.aipepe__navbar-menu{
    margin-left: 1rem;
    display: none; 
    position: relative;
}

.aipepe__navbar-menu__container-links{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: var(--color-bg);
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
}

.aipepe__navbar-menu a{
    color: var(--color-1);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    padding: 1rem;
}

@media screen and (max-width: 991px){
    .aipepe__navbar{
        padding: 1rem;
        top: 0;
    }
    
    .aipepe__navbar-links{
        display: none;
    }

    .aipepe__navbar-menu{
        display: flex;
    }
    
}

