@font-face {
  font-family: "Slackey";
  src: url("Fonts/Slackey-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Karla";
  src: url("Fonts/Karla-Light.ttf");
  font-weight: light;
}

@font-face {
  font-family: "Karla";
  src: url("Fonts/Karla-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Schoolbell";
  src: url("Fonts/Schoolbell-Regular.ttf");
  font-weight: normal;
}


:root {
    --color-bg: #FFFFFF;
    --color-1: #4c9540;
    --color-2: #105D6B50;
    --color-text: #FFFFFF;
    --font-family: 'Schoolbell'; 
    --font-family-1: 'Slackey';
    --font-family-2: 'Karla'; 
}

